body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d3e0f0; /* アイコンの背景色に合わせて */
    color: #000000; /* 黒色のテキストカラー */
}

#app {
    text-align: center;
    max-width: 800px;
}

h1, h2 {
    color: #007acc; /* アイコンの青色に合わせて */
}

#current-task {
    margin-bottom: 20px;
}

#current-task-name {
    font-size: 24px;
    margin: 0;
}

#current-task-time {
    font-size: 18px;
    margin: 0;
}

#tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tasks button {
    display: block;
    margin: 5px 0;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007acc; /* アイコンの青色に合わせて */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff; /* 白色のテキストカラー */
    transition: background-color 0.3s ease;
}

#tasks button:active, #tasks button.active {
    background-color: #005ea1; /* 押された時の色を濃い青色に */
    color: #ffffff; /* 白色のテキストカラー */
}

#export, #reset {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007acc; /* アイコンの青色に合わせて */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff; /* 白色のテキストカラー */
    transition: background-color 0.3s ease;
}

#export:hover, #reset:hover {
    background-color: #005ea1; /* ホバー時の色を濃い青色に */
}

#log {
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9); /* 背景色を白色にして透明度を少し持たせる */
    padding: 10px;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 300px;
}

#log p {
    margin: 5px 0;
}