body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: #ffffff;
}

#app {
    text-align: center;
    max-width: 800px;
}

h1, h2 {
    color: #61dafb;
}

#current-task {
    margin-bottom: 20px;
    min-height: 60px;  /* 固定高さを設定 */
}

#current-task-name {
    font-size: 24px;
    margin: 0;
}

#current-task-time {
    font-size: 18px;
    margin: 0;
}

#tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tasks button {
    display: block;
    margin: 10px 0;
    padding: 20px 40px;
    font-size: 18px;
    background-color: #61dafb;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #282c34;
    transition: background-color 0.3s ease;
}

#tasks button:active, #tasks button.active {
    background-color: #21a1f1;
    color: #ffffff;
}

#export {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #61dafb;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #282c34;
    transition: background-color 0.3s ease;
}

#export:hover {
    background-color: #21a1f1;
}

#log {
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 300px;
}

#log p {
    margin: 5px 0;
}